name: smb-reshare

services:
  smb-reshare:
    image: ghcr.io/gideonbear/smb-reshare:v0.1.11@sha256:68ba6697be2e9b51129d1f8655559f8cb1699b405ea64341bd36a33db33c8e7f
    container_name: smb-reshare
    secrets:
      - old_username
      - old_password
      - new_username
      - new_password
    environment:
      OLD_DOMAIN: NAS
      OLD_HOST: 192.168.1.100
      OLD_DIRECTORY: directory
      OLD_USERNAME_FILE: /run/secrets/old_username # Or OLD_USERNAME
      OLD_PASSWORD_FILE: /run/secrets/old_password # Or OLD_PASSWORD
      NEW_USERNAME_FILE: /run/secrets/new_username # Or NEW_USERNAME
      NEW_PASSWORD_FILE: /run/secrets/new_password # Or NEW_PASSWORD
    ports:
      # SMB port. 139 is legacy (NetBIOS) and not needed.
      - '0.0.0.0:445:445'
    restart: unless-stopped
    cap_add:
      # For mounting
      - SYS_ADMIN
      # For CIFS mounting
      - DAC_READ_SEARCH
    security_opt:
      # Also for mounting?
      - apparmor:unconfined

secrets:
  old_username:
    file: ./old_username.txt
  old_password:
    file: ./old_password.txt
  new_username:
    file: ./new_username.txt
  new_password:
    file: ./new_password.txt
